[submodule "foundry-learn/lib/forge-std"]
	path = foundry-learn/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-learn/lib/openzeppelin-contracts"]
	path = foundry-learn/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-learn/lib/openzeppelin-contracts-upgradeable"]
	path = foundry-learn/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "data-type/lib/forge-std"]
	path = data-type/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "data-type/lib/openzeppelin-contracts"]
	path = data-type/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "data-type/lib/openzeppelin-contracts-upgradeable"]
	path = data-type/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "funding-manager/lib/forge-std"]
	path = funding-manager/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "funding-manager/lib/openzeppelin-contracts"]
	path = funding-manager/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "funding-manager/lib/openzeppelin-contracts-upgradeable"]
	path = funding-manager/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts-advance/lib/forge-std"]
	path = contracts-advance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
